<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <title>Services</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="#" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">Contact Us</a>
            </li>
        </ul>
        </div>
      </nav>
    <div  style="margin-top: 50px; text-align: center;">
        <h1>Our Services</h1>
        
            <li><h5>Web Development</h5></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <li><h5>App Dev</h5> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
       
   </div>
</body>

</html>